.carousel-bg{
    background-color: #fceae8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: deeppink;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b,deeppink);
    color: white;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1{
    background-image: linear-gradient(to top,orange,yellow);
}
.cat-2{
    background-image: linear-gradient(to bottom,rgb(247, 75, 155),rgb(241, 31, 111));
}
.cat-3{
    background-image: linear-gradient(to top,rgb(31, 63, 245),rgb(81, 116, 231));
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.category h1{
    width: 100px;
    color: white;
}