.carousel-bg{
    background-color: #fceae8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: deeppink;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b,deeppink);
    color: white;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1{
    background-image: linear-gradient(to top,rgb(255, 119, 8),rgb(240, 145, 57));
}
.cat-2{
    background-image: linear-gradient(to bottom,rgb(235, 82, 72),rgb(252, 14, 65));
}
.cat-3{
    background-image: linear-gradient(to top,rgb(181, 16, 247),rgb(245, 13, 214));
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.category h1{
    width: 100px;
    color: white;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#contact{
    height: 300px;
}
#contact h6{
    color: gray;
}
footer{
    text-align: center;
}